@namespace ACUI.FomanticUI
@inherits FRailBase

<div class="@ClassMapper.Result"
     style="@StyleMapper.Result"
     id="@Id"
     @attributes="@Attributes">
    @ChildContent
</div>

@code{ 
    protected override string Suffix { get => "right rail"; }
}