@import "dist/semantic.min.css";

.ui.comments.ui.comments div.content.holdright {
    text-align: right;
    /*margin-right: 3.5em;*/
    margin-left: 0px;
}

.ui.comments .metadata.holdright {
    margin-right: .5em;
    margin-left: 0px;
}

.ui.comments a.author.holdright {
    float: right;
    /*transform: translateY(25%);*/
}

.ui.comments a.avatar.holdright {
    float: right;
}

.ui.comments .comment.holdright > .comments {
    margin: 0 .5em .5em 0;
    padding: 1em 1em 1em 0;
}